#app {
    width: fit-content;
    margin: 0 auto;
}

.todo-row {
    display: flex;
    flex-direction: column;
}

.single-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .25em 1em;
}

.single-todo:nth-of-type(odd) {
    background-color: aqua;
}

.single-todo:nth-of-type(even) {
    background-color: greenyellow;
}

.edit-todos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edit-todo {
    padding: 0 .5em;
}

.delete-todo {
    padding: 0 .5em;
}

.edit-todo, .delete-todo, .complete-todo, .undo-todo {
    cursor: pointer;
}